@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins';
}

body {
  background-color: rgb(24, 23, 23);
  color: white;
}

.image-of-me {
  opacity: 0.5; /* Initial opacity set to 50% */
  transition: opacity 1s, transform 1s; /* Smooth transition over 1 second */
}

.image-of-me:hover {
  transform: translateX(-100%);
  animation-name: me;
  opacity: 1;
}

@keyframes me {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
